:root {
  // base colours
  --#{$prefix}white: #{$white};
  // blacks
  --#{$prefix}black: #{$black};

  // monochrome
  @each $color, $value in $monochrome {
    --#{$prefix}monochrome-#{$color}: #{$value};
  }

  // DMG Colours
  @each $color, $value in $dmgColours {
    --#{$prefix}baseColour-#{$color}: #{$value};
  }

  // base font colour
  --#{$prefix}base-colour: #{$base-colour};

  // typography
  --#{$prefix}font-family-base: #{$font-family-sans-serif};
  --#{$prefix}font-size-base: #{$font-size-base};
  --#{$prefix}line-height-base: #{$line-height-base};
  --#{$prefix}line-height-heading: #{$line-height-heading};
  --#{$prefix}body-font-weight: #{$font-base-weight};
  --#{$prefix}link-colour: #{$link-colour};
  --#{$prefix}link-colour-hover: #{$link-colour-hover};
  --#{$prefix}link-colour-underline: #{$link-colour-underline};
  --#{$prefix}link-colour-visited: #($link-colour-visted);
  --#{$prefix}link-colour-focus: #{$link-colour-focus};
  --#{$prefix}navbar-active-color: #{$link-colour-focus};
  --#{$prefix}strong-font-color: #{$strong-colour};

  //buttons
  --#{$prefix}-button-HeroBanner-primary-bg: #{$btn-heroBanner-primary-bg};
  --#{$prefix}-button-HeroBanner-primary-text: #{$btn-heroBanner-primary-text};
  --#{$prefix}-button-HeroBanner-secondary-bg: #{$btn-heroBanner-secondary-bg};
  --#{$prefix}-button-HeroBanner-secondary-text: #{$btn-heroBanner-secondary-text};

  --#{$prefix}-button-bg-primary: #{$btn-primary-bg};
  --#{$prefix}-button-text-primary: #{$btn-primary-text};
  --#{$prefix}-button-bg-secondary: #{$btn-secondary-bg};
  --#{$prefix}-button-text-secondary: #{$btn-secondary-text};
  --#{$prefix}-button-icon-colour: #{$btn-icon-colour};

  // heading sizes
  @each $heading, $size in $heading {
    --#{$prefix}#{$heading}-font-size: #{$size};
  }

  // fone sizes
  @each $fontSize, $size in $fontSize {
    --#{$prefix}#{$fontSize}-font-size: #{$size};
  }

  // material root variables
  // --mat-sys-primary: #{$btn-primary-bg};
  --mat-sys-label-large-size: 100%;
  // --mat-button-protected-label-text-color: #{$btn-primary-text};
  // --mat-button-protected-container-color: #{$btn-primary-bg};
  // --mat-button-filled-horizontal-padding: 1rem;
  --mat-button-filled-label-text-color: #{$btn-primary-text};
  --mat-button-filled-container-color: #{$btn-primary-bg};
  // --mat-button

}