// @use "~bootstrap/scss/bootstrap";
@use './scss/bootstrapIncludes';
@use './scss/variables';
@use './scss/helpers';


body {
  font-family: Arial, sans-serif;
  // background: $primary-color;
  color: var(--black);
  font-weight: 400;
}
